*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.main{
    background-color:#7c4dff;
    height: 110vh;
    width: 100%;
    /* position: relative;
    */
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo{
    width: 40vw;
    height: 80vh;
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) */
}

.calender {
  width: 445px;
 margin-bottom: 10px;
}

.title h3 {
    width: 445px;
    text-align: center;
    font-size: 30px;
    font-family: cursive;
    color: bisque;
}

.title p {
    width: 445px;
    text-align: center;
    font-size: 18px;
    color: honeydew;
    font-family: math;
}

/* input css */

.input-field {
   width: 445px;
}


.input-field input{
    width: 383px;
    height: 5.5vh;
    outline: none; 
    box-shadow: none;
}

.input-field button{
    width: 60px;
    height: 5.5vh;
    border: none;
    background-color: #42a5f5;
    color: white;
    cursor: pointer;
    margin-left: 2px;

    
}

.displayList{
    margin-top: 10px;
    height: 80vh;
    
}

.displayList  li{
    padding: 10px;
    width: 445px;
    min-height: 6vh;
    background-color: aliceblue;
    list-style: none;
    border-bottom: 2px solid #7c4dff;
}

.displayList  li:hover{
    background-color: #08e2ba;
   
}

.displayList li  button{
   
    float: right;
    border-radius: 25%;
    color: red;
    cursor: pointer;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    font-size: 16px;
 
   
}



.displayList li  input{
    margin-right: 10px;
}




